{% extends "layout.html" %}

{% block title %}Add Car{% endblock %}

{% block content %}
<form action="/add_car" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="marca" class="form-label">Brand</label>
        <select name="marca_id" id="marca" class="form-select" required>
            <option value="" selected disabled>Select a brand</option>
            {% for brand in brands %}
            <option value="{{ brand.brand }}">{{ brand.brand }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="modelo" class="form-label">Model</label>
        <select name="modelo_id" id="modelo" class="form-select" required disabled>
            <option value="" selected disabled>First select a brand</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="version" class="form-label">Version</label>
        <select name="version_id" id="version" class="form-select" required disabled>
            <option value="" selected disabled>First select a model</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="ubicacion" class="form-label">Where you saw it</label>
        <input type="text" name="ubicacion" id="ubicacion" class="form-control">
    </div>

    <div class="mb-3">
        <label for="fotos" class="form-label">Photo</label>
        <input
            type="file"
            id="fotos"
            name="fotos"
            accept="image/*"
            class="form-control"
        >
        <div class="form-text">Select 1 photo</div>
    </div>

    <button type="submit" class="btn btn-primary">Save sighting</button>
</form>

    <script src="/static/js/script.js"></script>

{% endblock %}