{% extends "layout.html" %}
{% block title %}Registro{% endblock %}
{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <h1 class="mb-4">Register</h1>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="username" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="new-password" class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="new-password" class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
{% endblock %}